
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgba(37, 37, 37, 1);
  margin-top: 100px;
  overflow-y: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content {
  display: block;
  width: 800px;
  min-width: 70px;
  margin: auto;
  height: fit-content;
  color: white;
}


.card {
  text-align: center;
  margin: 40px;
  font-size: 20px;
}

/*Question Page*/

input[type=radio]{
  position: absolute;
  /* visibility: hidden;  */
  opacity: 0;
  width: 0;
  height: 0;
}

/*Emoji*/

input[type=radio] + img{
  background-color:rgb(202, 202, 202);
  border-style: solid;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.4s;
}

[type=radio]:checked + img {
  background-color:#fbba08;
  border-style: solid;
  border-radius: 50%;
}

label img{
  width: 30px;
  height: 30px;
}
label img:hover{
  transform: scale(1.5)
}
form {
  display: flex;  
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  margin-top: 25px;
}

label {
  display: flex;
  padding-right: auto;
  margin-left: 30px;
}

.span {
  padding-left: 25px;
}

/*Button Next*/
.btnQ{
  border: 3px solid rgb(247, 247, 184);
  text-decoration: none; 
  background: rgba(37, 37, 37, 1); 
  color: rgb(247, 247, 184);   
  padding: 12px 25px 12px 25px; 
  cursor: pointer;
  transition: 0.5s ease ; 
  font-size: 25px;
  margin-top: 15px;
  border-radius: 5%;
  font-weight: bold;
}
 .btnQ:hover{
  color: black;
  font-weight: bold;
  border: 3px solid rgb(247, 247, 184);
  background-color: rgb(247, 247, 184);
}

/*Main Page*/
.contentmain {
  margin-top: 180px !important;
  display: block;
  width: 800px;
  min-width: 70px;
  margin: auto;
  height: fit-content;
  color: white;
}

.contentmain .card{
  text-align: center;
  margin: 75px;
  font-size: 20px;
}
.card p {
  font-size: 40px;
}

.btn{
  border: 5px solid rgb(247, 247, 184);
  text-decoration: none; 
  background: rgba(37, 37, 37, 1); 
  color: rgb(247, 247, 184);   
  padding: 20px 40px 20px 40px; 
  cursor: pointer;
  transition: 0.5s ease ; 
  font-size: 25px;
  margin-top: 15px;
  border-radius: 5%;
  font-weight: bold;
}
 .btn:hover{
  color: black;
  font-weight: bold;
  border: 5px solid rgb(247, 247, 184);
  background-color: rgb(247, 247, 184);
} 

 
.ad{
  margin-top: 100px !important;
  margin: auto;
  background-image: url("./pic/test1.gif");
  width: 1140px;
  height: 200px;
}

.ad1{
  margin-top: 50px !important;
  margin: auto;
  background-image: url("./pic/test2.gif");
  width: 1140px;
  height: 200px;
}

.ad2{
  margin-top: 50px !important;
  margin: auto;
  background-image: url("./pic/test3.gif");
  width: 1140px;
  height: 200px;
}

input[type=text]{
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/*Contact Page*/

.contact{
  
  height:400px;
  display: grid;
  grid-template-rows: 1fr 1fr;

}
/*Picture IN contact*/
.imagesCT img{
   width: 200px;
   height: 200px;
   display: flex;
   border-radius: 7%;
   transition: 2s; /*hover*/
   margin: auto;

}
.imagesCT img:hover{
  transform: scale(1.2);
}

/*ICON FB IG GM IN contact*/
.contentCT{ 
  height: 50px;
  display: flex;
  gap:40px;
  margin-top: 25px;
  margin-bottom: 55px;
  margin-left: auto;
  margin-right: auto;
}
.contentCT img{
  height: 50px;
  width: 50px;
}
/*NAME IN contact*/
.fontNameCT{

  margin-bottom: auto;
  margin-top: 40px;
  font-size: 25px;
  color: #f1f1f1;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

/*Scroll bar*/

::-webkit-scrollbar {
  width: 10px;
}


::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}